@model IngredientSearchViewModel

<div class="searchByIngredient">
	<form asp-action="SearchByIngredients" method="post" role="form" class="ingredientForm">
		<div class="searchByIngredientMenu">
			<input type="submit" value="Search by ingredients" class="searchByIngredientButton" />
			@if (!string.IsNullOrEmpty(@Model.IngredientsList))
			{
				<div class="selectedIngredients">
					<p>Selected ingredients</p>
					<p class="selectedIngredientList"> @Model.IngredientsList</p>
				</div>
			}
			<div class="ingredientsContainer">
				@for (int i = 0; i < @Model.Ingredients.Count(); i++)
				{
					<div>
						<input asp-for="@Model.Ingredients[i].IsSelected" />
						<input asp-for="@Model.Ingredients[i].Name" type="hidden" />
						<span>@Model.Ingredients[i].Name</span>
					</div>
				}
			</div>
		</div>
	</form>
	<partial name="_ResultsGrid" model="@Model.Drinks" />
</div>